
* {
	margin: 0;
	padding: 0;
}


body {
  
  box-sizing: border-box;
  background: url('../images/background.jpg');
  background-size: cover;
  font-family: Arial, sans-serif;
  
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
}

.container{
	position:absolute;
	width: auto;
	height:auto;
	top: calc(50% - 230px);
	left: calc(50% - 170px);
  
}


form {
	position: absolute;
	text-align: center;
	background: #fff;
	width: 360px;
	height: 470px;
	border-radius: 5px;
	padding: 30px 20px 0 20px;
	box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
  
}





h3 {
	font-family: 'Dosis';
	font-size: 35px;
	text-transform: uppercase;
	color: #e75a5a;
	margin-bottom: 30px;
}

input,
button{
	outline: none !important; 
}

input[type="name"],
		input[type="email"],
		input[type="password"] {
			width: 85%;
      border-radius: 4px;
			padding: 10px;
			border: 1px solid #CCCCCC;
			font-size: 15px;
      text-align: center;
      
      font-weight:100;
      margin-bottom:25px;
		}

  

::-webkit-input-placeholder {
   color: #e75a5a;
	
	font-weight:100;
}

.btn-reg{
  border: none;
	background: #d80a0ac0;
	width: 95%;
	padding: 10px;
	
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 4px;
	border: 1px solid #311818;
	cursor: pointer;
	margin-bottom: 20px;
	transition: all 0.3s linear;
  
}

.btn-reg:hover {
	background: #fff;
	color: #d80a0ac0;
}

.reg-text{
  font-size: large;
}
.btn-login{
  border: none;
	background: #070707c0;
	width: 95%;
	padding: 10px;
  margin-top: 20px;
	
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 4px;
	border: 1px solid #311818;
	cursor: pointer;
	transition: all 0.3s linear;
  
}

.btn-login:hover {
	background: #fff;
	color: black;
}

.register {
	z-index: 2;
}


.login{
		z-index: 1;
		transform: perspective(100px) translate3d(100px, 0px, -30px);
		opacity: 0.5;
}

.login .btn-login{
  margin-bottom: 20px;
  margin-top: 0;
}

.login .btn-login{
  margin-bottom: 20px;
  margin-top: 0;
}

.login .btn-reg{
  margin-top: 20px;
  margin-bottom: 0px;
}

.active-right{
	animation-name: front-right;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

.active-left{
	animation-name: front-left;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

.inactive-right{
	animation-name: Behind-right;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

.inactive-left{
	animation-name: Behind-left;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

@keyframes Behind-right {
	0%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
		box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
	}
	100%{
		z-index: 1;
		transform: perspective(100px) translate3d(100px, 0px, -30px);
		opacity: 0.5;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
	}
}

@keyframes Behind-left {
	0%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
		box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
	}
	100%{
		z-index: 1;
		transform: perspective(100px) translate3d(-100px, 0px, -30px);
		opacity: 0.5;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
	}
}

@keyframes front-right {
	0%{
		z-index:1;
		transform: perspective(100px) translate3d(100px, 0px, -30px);
		opacity: 0.5;
	}
	
	100%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}

@keyframes front-left {
	0%{
		z-index:1;
		transform: perspective(100px) translate3d(-100px, 0px, -30px);
		opacity: 0.5;
	}
	
	100%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}